<% provide(:title, "Articles") %>

<div class="container">
	<div class="row"> 
		<div class="col-sm-6"> <form class="navbar-form navbar-left" role="search">
		  <div class="form-group">
		    <input type="text" class="form-control" name="tags" placeholder="Search" value="<%= params[:tags] %>">
		  </div>
		  <button type="submit" class="btn btn-default">Search</button>
		</form> </div>
		<div class="col-sm-2 col-sm-offset-4" style="margin-top: 8px;">
			<a role="button" class="btn btn-default" href="<%= new_article_url %>"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
	</div>
	<div id="imageGallery" style="position: relative">
	<% if @matches %>
		<% if @matches.keys.length > 0 %>
			<% @matches.keys.sort.reverse.each do |key| %>
				<% @matches[key].each do |article| %>
					<div class="img"> <%= image_tag article.picture %> </div>
				<% end %>
			<% end %>
		<% else %>
		<br>
			<h1>No matches found</h1>
		<% end %>
	<% else %>
		<% @articles.each do |article| %>
			<div class="img"> <%= image_tag article.picture %> </div>
		<% end %>
	<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	    $('#imageGallery img').each(function() {
	        var maxWidth = 200; // Max width for the image
	        var maxHeight = 400;    // Max height for the image
	        var ratio = 0;  // Used for aspect ratio
	        var width = $(this).width();    // Current image width
	        var height = $(this).height();  // Current image height

	        // Check if the current width is larger than the max
	        if(width > maxWidth){
	            ratio = maxWidth / width;   // get ratio for scaling image
	            $(this).css("width", maxWidth); // Set new width
	            $(this).css("height", height * ratio);  // Scale height based on ratio
	            height = height * ratio;    // Reset height to match scaled image
	            width = width * ratio;    // Reset width to match scaled image
	        }

	        // Check if current height is larger than max
	        if(height > maxHeight){
	            ratio = maxHeight / height; // get ratio for scaling image
	            $(this).css("height", maxHeight);   // Set new height
	            $(this).css("width", width * ratio);    // Scale width based on ratio
	            width = width * ratio;    // Reset width to match scaled image
	        }
		});
		var container = $('#imageGallery');
		// initialize
		container.masonry({
		  columnWidth: 200,
		  itemSelector: '.img'
		});
	});
</script>